{% extends "layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Category list</h2>

    <ul>
        {% for category in listcategory %}
            <li>
                <a href="{{ path('viewCategory', {'category': category.name}) }}">
                    {{ category.name }}
                </a>

            </li>
        {% else %}
            <li>any exam available</li>
        {% endfor %}
    </ul>

{% endblock %}